* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 30);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 128px;
    background-color: rgb(53, 25, 110);
}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: white;
    font-size: 2.5rem;
}

main hr {
    background: #9c97f1;
    border: 0;
    height: 1px;
    margin: 60px 0;
}


.left {
    font-size: 2rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstSection>div {
    width: 30%;

}

.leftSection {
    background-color: none;
    font-size: 3rem;
}

.rightSection img {
    background-color: none;
    width: 80%;
}

.purple {
    color: rgb(173, 113, 230);
}

.text-gray {
    color: grey;
}

.TechStk{
    align-items: right;
}

.phomtu img{
    background-color: none;
    width: 20%;
    justify-content: flex;
    gap:50px;
}

#element {
    color: rgb(173, 113, 230);

}

footer{
    margin:100%;
    padding:0;
    text-decoration: none;
    height:128px;
    background-color: rgb(0,0,29);
}

#footer1{
    margin:0;
    height:128px;
    padding:0;
    background-color: rgb(0,0,31);
}

.footerContainer{
    width:100%;
    padding:0;
    text-decoration:none;

}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(0,0,28);
    margin:10px;
    border-radius: 50%;
    justify-content: space-around;
    position:relative;
    left:41%;
    width:20%;
}

.socialicons ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 128px;
    background-color: rgb(53,25,110);
    text-decoration:none;
}

.socialicons a i{
    font-size: 2rem;
    color:rgb(11, 241, 203);
    opacity:0.9;
    text-decoration:none;
}


.socialicons a:hover i{
    color:white;
    transition:0.1s;
}

.footernav{
    color: rgb(180, 62, 11);
    text-align:center;
    text-decoration: none;
}

.footerbottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
